*{

    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

.container-menu {

    background: rgb(31, 32, 46);

    
}
.container-position{

    margin-left: 250px;
}

.container-img {

    width: 100px;
    margin-left: 20px;
}

.container-list ul {

    margin-left: 150px;
    
}

.container-list li {

    position: relative;
    list-style: none;
    float: left;
    top: 50px;
    
    
    
}

.container-img {

    margin-top: -40px;
    margin-bottom: 60px;
}

.container-list a {

    
    text-decoration: none;
    padding: 10px;
    color: bisque;
    font-size: 15px;
    
    
    
}

.border-box {

    clear: both;
}

.image-body img {

    width: 100%;
    z-index: -50;
    margin-top: -150px;
    
}

.container-list a:hover {

    background: rgba(9, 114, 201, 0.815);
    border-radius: 2px;
    color: bisque;
    text-decoration: none;
}

.font-user  a:hover{
     background: none;
     color: rgba(81, 171, 245, 0.815);
}


.font-user i {

    position: absolute;
    left: 350px !important;
    top: -4px;
    font-size: 35px;
    
}

.logotipo a:hover{

    background: none;
}

.font-car a:hover{
    background: none;
    color: rgba(81, 171, 245, 0.815);
}


.font-car i {

   position: absolute;
   left: 400px !important;
   top: -4px;
   font-size: 35px;
   
}

#myFooter {
    background: rgb(2, 2, 14);
}

.row {

    position: relative;
    top: 50px;
    left: 20%;
    background: rgb(71, 57, 57);
    width: 60%;
    padding: 30px;
    border-radius: 5px;
}

label {

    color: white;
    font-size: 15px;
}

.row h2 {

    color: white;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
}

.row button{

    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 30px;
   
}



