<h2>UM NOVO CONCEITO DE BARBEARIA, ONDE PASSADO E FUTURO SE UNEM, TRADIÇÃO E MODERNIDADE SE ENCONTRAM, CONSERVADORISMO E TENDÊNCIAS COEXISTEM.
</h2>

<p>A BARBEARIA VIP é pioneira no conceito de “barbearia premium” e atualmente é a maior rede de estética masculina da América Latina: em 1998 apresentou ao mercado o modelo inovador, pioneiro no sul do país.
    Para acompanhar as tendências do mercado, o CONCEITO BARBEARIA VIP entendeu as demandas do homem moderno e foi além, transformando o simples ato de fazer a barba ou cortar o cabelo em uma experiência de lazer e confraternização.
    O pacote de mordomias inclui open bar, televisores individuais, revistas masculinas, futebol na TV e jogos de videogame.
    A marca própria conta com linha de cosméticos, óculos e também de roupas.
    Projetos sociais, participação em eventos e exposição na mídia alavancaram a BARBEARIA VIP que, mesmo em anos de crise, cresceu meteoricamente abrindo franquias em sete estados e também na Europa e Estados Unidos.
    A ascensão da empresa resultou em prêmios empresariais nacionais e internacionais.</p>